#nav_bar{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 0px;
}
.nav_1{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
}
#nav_up{
   display: flex;
   background-color: rgb(224, 224, 224);
    width: 100%;
    height:70px;
}
#nav_down{
     display: flex;
     background-color: rgb(224, 224, 224);
    width: 100%;
    height:70px;
}
.logo{
    display: flex;
    width:80%;
    height:90%;
}
.logo>img{
    width:150px;
    height:60px;
}
.logo>select{
    width:15%;
    height:43px;
    margin-left: 60px;
    margin-top: 10px;
    border-radius:35px 0px 0px 35px;
   font-size: 15px;
    text-align: center;

}
.logo>input{
    width:30%;
    height:43px;
    font-size: 15px;
    margin-top: 10px;
   font-style: italic;
    text-align: center;
}
.logo>div{
    width:3%;
    height:42px;
    border: 1px solid black;
    background-color: white;
    margin-top: 10px;
    border-radius:0px 35px 35px 0px;
    font-style: italic;
    text-align: center;
  

}
.one{
    width: 15%;
    display: flex;
 }
.one>img{
   width: 20%;
    margin-bottom: 20px;
}
.two{
    width: 55%;
    display: flex;
}
.three{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.flex{
    display: flex;
    font-style: unset;
}
.two ul li{
    list-style: none;
    padding: 0 12px;
}
.sign{
    display: flex;
}
.sign>img{
    width: 35%;
    margin-bottom: 20px;
}
#middle{
  width:100%;
  height:400;
}
#card{
    display: flex;
    justify-content: space-evenly;
}
.card_1{
    font-size: 20px;
    width:23%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card_1>img{
    
    width:100%;
}
.F1{
    background-color: rgb(224, 224, 224);
    height: 50px;
    margin: 10px;
    text-align: center;
    align-items: center;
}
.F1>img{
    width: 50%;
}
#button{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#button>button{
    width: 90%;
    height:50px;
    border-radius: 35px;
    background-color: black;
    color: white;
  
    margin-bottom: 10px;
}
#middle_2{
   justify-content: space-between;
    display: flex;
}
h1{
    text-align: center;
}   
#middle_2_child-1 img{
    width: 100%;
    height: 400px;
}
#middle_2_child-1 {
    width: 30%;
}
#middle_2_child-2 {
    width: 70%;
}
#middle_2_child_A{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(224, 224, 224) ;
}
#middle_2_child_A img{
    width: 70%;
    margin: 20px;
}
#middle_2_child_B{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
#middle_2_child_B img{
    width: 90%;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#logo_2{
    text-align: center;
    height: 150px;
}
#logo_2 img{
    width:10%;
    border-radius: 100%;
}
#middle_3{
    display: flex;
    height:470px;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    align-items: center;
}
#middle_3 img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.wrapper{
    width:1000px;
    height:480px;
    display: flex;
    justify-content: space-between;
}
#wrapper_1{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.items{
    width:150px;
}
#wrapper_1 img{
    width:1000px;
}

#wrapper_2 img{
    width: 500px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ;
}
.wrapper .owl-prev span{
    font-size: 150px;
    position: relative;
    top:-250px;
}
.wrapper .owl-next span{
    font-size: 150px;
    position: relative;
    top:-250px;
    left:800px;
}
h2{
    font-size: 40px;
}
#middle_4{
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#middle_5{
     display: flex;
     align-items: center;
     height: 300px;
     justify-content:space-evenly;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     width: 100%;
}
.middle_5-child{
    width:18%;
    margin-left: 20px;
}
#middle_5 img{
    width:70%;
    border: 13px solid rgb(210, 208, 208);
    border-radius: 100%;
}
.carousel-cell img{
    width:60%;
}
.middle_6{
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#middle_7{
    display: flex;
    align-items: center;
    height: 300px;
    justify-content:space-evenly;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}
.middle_7-child{
   width:18%;
   margin-left: 20px;
}
#middle_7 img{
   width:70%;
   border: 13px solid rgb(210, 208, 208);
   border-radius: 100%;
}
.middle_8{
    display: flex;
    justify-content: space-evenly;
}
.footer_1{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
}
.footer_1 input{
    width: 30%;
}
.footer_2{
    width: 100%;
    height: 70px;
    background-color: rgb(227, 221, 212);
    font-size: 10px;
 
}
.footer_3{
    display: flex;
    justify-content: center;
}
.footer_3 img{
    width:5%;
}



